*{
    margin: 0px;
    padding: 0px;
}

header,
div,
nav,
footer,
aside,
section,
main
{
    display: block;
}

body 
{
    background: #f2f2f2fa;
    font-family: 'Source Sans Pro', sans-serif;
}

header,
footer{
    width: 100%;
}

.wrapper{
    width: 1110px;
    margin: 0px auto;
}

.clear{
    clear:both;
}

a{
    text-decoration: none;
}

/*----------------*/
/* header part */

header{
    margin-top:76px;
    margin-bottom: 26px;
    color:#222222;
}

#logo{
    background: url(../images/logo.png) no-repeat left;
    background-size: contain;
    float: left;
    height: 88px;
}

#logo span{
    color:#222222;
    font-size: 70px;
    font-weight: 500;
    margin-left: 110px;
}

/* -------------- */
/* nav bar */

nav a:link,
nav a:visited{
    padding-right:24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #222222;
    opacity: 0.3;
}

nav a:hover,
nav a:active{
    color: #1434E1;
    opacity: 1;
}

/* -------------- */
/* three pictures section */

.pictures{
    margin-top: 40px;
}

.pictures img{
    height: 450px;
    width: 350px;
    float: left;
    margin-left: 30px;
}

.pictures #first{
    margin: 0;
}

/*-------------*/
/* description */

.description{
    margin-top: 40px;
    color: #222222;
}

.description h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
}

.description p{
    margin-top: 8px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

/*-------------*/
/* languages */

.languages{
    margin-top:60px;
    margin-bottom:70px;
}

.languages h2{
    margin-bottom:8px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    color:#222222;
}

.languages ul{
    list-style-type: none;
}

.languages li{
    margin-bottom: 30px;
}

#icon1{
    background: url(../images/cpp.png) no-repeat;
    background-size: contain;
    height: 35px;
}

#icon2{
    background: url(../images/c.png) no-repeat;
    background-size: contain;
    height: 35px;
}

#icon3
{
    background: url(../images/html5.png) no-repeat;
    background-size: contain;
    height: 35px;
}
.languages li span{
position: absolute;
margin-top: 5px;           
margin-left: 50px;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: 4px;
text-transform: uppercase;

color: #000000;
}

/* -------------- */
/* nav bar */
.picturesOne{
    margin-top: 99px; 
    margin-left: 315px;
}

.picturesTwo{
    width: 570px;
    height: 417px;
}
.picturesThree{
    margin-top: -300px;
    width: 350px;
    height: 453px;
}

footer{
    height: 240px;
    background: #515151;
}
.links
{
    padding-top: 70px;
}
.links a
{
    margin-right: 55px; 
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.links a{
    background: url("../images/cpp.png");
    max-height: 100px;
    max-width: 100px;
}

#works{
    background: #C6B393;
    padding:12px;
}
.border-line
{
    margin-top:43px;
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.icons{
    margin-top: 40px;   
}

.icons img{
    margin-right:20px;
    height: 30px;
    width:30px;
}

#imageTwo{
    margin-right:20px;
    margin-bottom: 4.5px; 
    height: 20px;
    width:20px;
}
